@import "variables.css";
@import "navbar.css";

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Form input styles */
input[type="text"],
input[type="password"],
select {
    display: block;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
}

/* Submit button styles */
input[type="submit"],
button {
    background-color: #0080ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0066cc;
}

/* Container styles */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container > div {
    max-width: 900px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Sidebar styles */
.views {
    list-style: none;
    padding: 20px;
}

.views li {
    margin-bottom: 10px;
}

.views li:last-child {
    margin-bottom: 0;
}

.views a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.views a:hover,
.views .active a {
    background-color: #f2f2f2;
}

/* View styles */
.view {
    display: none;
}

.view.active {
    display: block;
}

/* Form styles */
form {
    max-width: 500px;
    margin: 0 auto;
}

select {
    width: 100%;
}

/* Responsive styles for small screens */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .sidebar {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .views {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        padding: 10px 20px;
        border-bottom: none;
    }

    .views li {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .views li:last-child {
        margin-right: 0;
    }

    .views a {
        padding: 10px;
    }
}
