.button {
    color: #1d70f5;
    padding: 10px 20px; /* fixed the padding value */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Style the buttons when hovering over it */
.button:hover,
.buttonContact:hover {
    color: #0743a2;
}

/* Style the input fields for the username and password */
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the submit button for the login form */
input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer style*/
footer {
    color: rgb(75, 75, 75);
    margin-top: 15%;
    text-align: center;
}


/* Media Query for Responsive Styles */
@media screen and (max-width: 600px) {
    /* Remove the absolute positioning and center
    the container horizontally and vertically on smaller screens */
    .container {
        position: relative;
        width: auto;
        top: auto;
        left: auto;
        transform: none;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Media Query for Responsive Styles */
@media screen and (max-height: 600px)
and (orientation: landscape) {
    /* Remove the absolute positioning and center
    the container horizontally and vertically on smaller screens */
    .container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: auto;
        display: block;
        flex-direction: column;
        justify-content: flex-start;
    }

    .grid-container {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: auto;
        display: block;
        flex-direction: row;
        justify-content: flex-start;
    }
}
