@import "colors.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
}

.homepage {
    margin: 0 0 0 300px;
    padding-top: 44px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: var(--red-clr);
    margin: 0;
    width: 100%;
    height: 44px;
    box-shadow: 0 0 8px black;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.navbar-buttons button,
.navbar-buttons > {
    width: 25px;
    height: 25px;
    align-self: center;
    fill: var(--row-clr);
}

.menu-button {
    appearance: none;
    background-color: var(--beige-clr);
    border: none;
    box-sizing: border-box;
    color: var(--text-clr);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.menu-button:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: var(--background-clr);
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.menu-button:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.menu-button:after {
    background-color: var(--background-clr);
}

.menu-button span {
    z-index: 1;
    position: relative;
}

.dropdown {
    display: none;
    width: 220px;
    background-color: var(--red-clr);
    color: var(--background-clr);
    padding: 5px;
    height: 44px;
    font-size: 22px;
    position: absolute;
    top: 44px;
    left: 0;
    z-index: 10;
}

.dropdown-link {
    display: block;
    padding: 10px;
    color: var(--background-clr);
    text-decoration: none;
}

.dropdown-link:hover {
    background-color: var(--beige-clr);
}
