@import "variables.css";
@import "navbar.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
}

label {
    font-size: 18px;
}

#page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 5px;
}

.sql-prompt-area, .sql-output-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

#sql-prompt, #sql-output {
    padding: 15px;
    border-radius: 15px;
    font-family: Consolas, serif;
    font-size: 16px;
    resize: none;
    overflow: auto;
}

#sql-prompt {
    white-space: nowrap;
}

#sql-output {
    white-space: pre-wrap;
}

.sql-run-button {
    padding: 15px;
    align-self: center;
    cursor: pointer;
    background-color: #27282E;
    border-radius: 15px;
    border: 2px solid #adb5bd;
    display: flex;
}

.sql-run-button:hover {
    background-color: #adb5bd;
    transition: background-color .25s;
}

.sql-run-button:active {
    background-color: #5f6167;
}

.sql-run-svg {
    width: 30px;
    filter: invert(68%) sepia(19%) saturate(1179%) hue-rotate(73deg) brightness(98%) contrast(98%);
}