@import "colors.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
}

.homepage {
    padding-top: 44px;
}

.navbar {
    background-color: var(--red-clr);
    margin: 0;
    width: 100%;
    height: 44px;
    box-shadow: 0 0 8px black;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    gap: .25em;
}

.sql-prompt-area, .sql-output-area {
    display: flex;
    flex-direction: column;
    gap: .25em;
    justify-content: center;
}

#sql-prompt, #sql-output {
    resize: none;
    overflow: auto;
}

#sql-prompt {
    white-space: nowrap;
}

#sql-output {
    white-space: pre-wrap;
}

.sql-run-button {
    align-self: center;
    cursor: pointer;
    background-color: #27282E;
    border-radius: 10px;
    border: 2px solid #adb5bd;
    display: flex;
}

.sql-run-button:hover {
    background-color: #adb5bd;
    transition: background-color .25s;
}

.sql-run-button:active {
    background-color: #5f6167;
}

.sql-run-svg {
    width: 2em;
    filter: invert(68%) sepia(19%) saturate(1179%) hue-rotate(73deg) brightness(98%) contrast(98%);
}