:root {
    --background-clr: #f1f1f1;
    --light-gray-clr: #dee2e6;
    --gray-clr: #ced4da;
    --aa-clr: #adb5bd;
    --light-red-clr: #E98074;
    --red-clr: #E85A4F;
    --dark-red-clr: #ea3123;
    --text-clr: black;
    --form-control-disabled: #959495;
    --gray-text-clr: gray;
    --row-clr: white;
    --form-control-color: #E85A4F;
    --btn-clr: #e8e8e8;
    --nav-height: 45px;
    --font-size: 16px;
    --border-radius-size: 15px;
    --default-box-shadow: 1px 5px 5px gray;
}