.form-control {
    font-family: system-ui, sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1em auto;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    color: currentColor;
    width: 10px;
    height: 10px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);

    /* display: grid; */
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"] {
    /* ...existing styles */
    /* display: grid; */
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    /* ...existing styles */

    /* Windows High Contrast Mode */
    background-color: CanvasText;
}


.asa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-control {
    margin: 5px;

}


/* <!-- HTML !--> */
/* <button class="button-48" role="button"><span class="text">Button 48</span></button> */

/* CSS */
.button-48 {
    appearance: none;
    background-color: var(--beige-clr);;
    border-width: 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    /* font-family: Clarkson,Helvetica,sans-serif; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1em;
    margin: 0;
    opacity: 1;
    outline: 0;
    padding: 1.5em 2.2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-rendering: geometricprecision;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
}

.button-48:before {
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}

.button-48:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
    background-color: #FFFFFF;
}

.button-48 span {
    z-index: 1;
    position: relative;
}


.card {
    background-color: var(--beige-clr);
    margin: 20px;
    /* margin-top: 0; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px gray;
}

.commands {
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.create-table {
    display: flex;
    color: gray;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.create-table div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.create-table div .submit {
    float: right;
}


/* test */
.box {
    width: 250px;
    height: 100px;
    background-color: red;
}

.select-database {
    margin: 0;
    position: absolute;
    top: calc(50% - 44px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;


    text-align: center;
}


/* main paige */
:root {
    --background-clr: #f1f1f1;
    --beige-clr: #dee2e6;
    --gray-clr: #ced4da;
    --aa-clr: #adb5bd;
    --light-red-clr: #E98074;
    --red-clr: #E85A4F;

    --form-control-disabled: #959495;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
}

.CodeMirror {
    border: 1px solid black;
    height: auto;
}

.homepage {
    margin: 0;
    margin-left: 300px;
    padding-top: 44px;
    display: none;
    /* display: flex; */
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: wrap;
    width: 100%;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* navbar */
.navbar {
    background-color: var(--red-clr);

    margin: 0;
    width: 100vw;
    height: 44px;
    box-shadow: 0px 0px 8px black;
    position: fixed;
    z-index: 2;
}


.submit {
    background-color: white;
}


/* Tabel */
.row form input {

}

.table-description {
    color: gray;
    padding: 5px;
    text-align: center;
}

.tabel {
    background-color: var(--background-clr);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px gray;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px gray;
    background-color: white;
}

.col {
    width: 100%;
    padding: 10px;
    color: gray;
    margin: 0;
}

.col p {
    margin: 0;
    padding: 0;
}

.expand-button {
    /* background-image: url("img/icons/expand.svg");
    width: 1000px;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */

    --i: var(--light, 0);
    --not-i: calc(1 - var(--i));
    --j: var(--press, 0);
    --not-j: calc(1 - var(--j));
    z-index: var(--i);
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 15%;
    transform: scale(calc(1 - var(--j) * .02));
    background: #e8e8e8;
    font-size: 2.5em;
    transition: box-shadow .3s, transform .3s cubic-bezier(.2, 4, 1, 3);
    cursor: pointer;
}

.expand-button::after {
    filter: Contrast(0) Sepia(var(--i)) Hue-Rotate(calc(var(--hue) - 50deg)) Saturate(5) Opacity(calc(var(--i) + .21 * var(--not-i))) Drop-Shadow(1px 1px hsla(0, 0%, 100%, var(--not-i)));
    /* transition: filter $t; */
    content: attr(data-ico)
}

.expand-button:focus {
    outline: none
}

.expand-button:hover, .expand-button:focus {
    --light: 1
}

.expand-button:active {
    --press: 1
}

.row-title {
    color: gray;
    padding: 10px;
}

.row-data {
    display: none;
    flex-direction: row;
    flex-flow: wrap;
    width: 100%;
}


/* left-panel = database list */


#database-panel {
    box-shadow: 2px 0px 8px var(--gray-clr);
    width: 300px;
    background-color: var(--beige-clr);
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 44px;
}

.database-message {
    color: gray;
    padding: 40px;
    padding-bottom: 10px;
    font-size: 28px;
    box-shadow: 0px 15px 10px -15px var(--gray-clr);
    text-align: center;
    font-weight: bold;
}

.database-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#database-ul {
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#database-ul li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

#database-ul li:hover {
    color: var(--light-red-clr);
}

.database-finder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.database-finder input {
    margin: 5px;
}

/*
#btn, #btn-top {
    align-items: center;
    background-color: var(--beige-clr);
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  #btn-top{
    z-index: 33;
    display: none;
    position: absolute;
  }
  
  #btn:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  #btn:hover, #btn-top:hover{
      background-color: var(--gray-clr);
  }
  
  #btn:hover:after, #btn-top:hover:after {
    transform: translate(0, 0);
  }
  
  #btn:active, #btn-top:active {
    background-color: var(--aa-clr);
    outline: 0;
  }
  
  #btn:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
      #btn {
      padding: 0 40px;
    }
  } */

.button-alignement {
    width: 250px;

}

.dropdown {
    display: none;
    margin-top: 5px;
    margin-left: 10px;
    margin-left: auto;
    margin-right: auto;

    border: none;
    background-color: #E98074;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px gray;
}

.dropdown:hover {
    background-color: red;
}


#toggle {

}


@media screen and (max-width: 900px) {

}

/* test - left panel */
@media screen and (max-width: 1500px) {
    #database-panel {
        width: 250px;
    }
}

@media screen and (max-width: 1000px) {
    /* #database-panel{
        /* height: auto; */
    /* position: relative; */
    /* display: none;

    margin: 0;
    margin-bottom: 20px;
    margin-top: ;
}  */
    .dropdown {

        display: block;
    }

    .homepage {
        margin-left: 0;
    }

    #toggle {
        /* padding-top: 20px; */
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    #toggle {
        /* display: block; */
    }
}

@media screen and (max-width: 425px) {
    #toggle {
        margin: 0;
    }

    .button-alignement {
        width: 100%;
    }

    #database-panel {
        width: 100%;
        position: relative;
        /* margin-top: 60px; */
    }
}


/* test - tabel */
@media screen and (min-width: 1200px) {


    .row-data {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
    }

    .col {
        width: auto;
    }

    .expand-button {
        display: none;
    }

    .row-title {
        display: none;
    }
}

@media screen and (max-width: 25px) {
    .tabel {
        /* width: 95%; */
        margin: 10px;
        margin-top: 50px;
    }
}


/*




#table-list-message{

}



.table-list{
    align-items: center;
    margin: 20px;
}

.show-tables{
    width: 300px;
    
}

#table-list-ul{
    padding-left: 20px;
    padding-right: 20px;
}

#table-list-ul li{
    list-style-type: none;
    color: gray;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.table-message{
    color: gray;
    font-size: 28px;
    font-weight: bold;
    box-shadow: 0px 15px 10px -15px var(--gray-clr);
    text-align: center;
}

.welcome{
    width: 100%;
    margin: 20px;
    text-align: center;
    color: gray;
}

















#database-panel{
    box-shadow: 2px 0px 8px var(--gray-clr);
    width: 300px;
    background-color: var(--beige-clr);
    height: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 44px;
}

.database-message{
    color: gray;
    padding: 40px;
    padding-bottom: 10px;
    font-size: 28px;
    box-shadow: 0px 15px 10px -15px var(--gray-clr);
    text-align:center;
    font-weight: bold; 
}

.database-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#database-ul{
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#database-ul li{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

#database-ul li:hover{
    color: var(--light-red-clr);
}

.database-finder{
    width: 100%;
    display: flex;
    justify-content: center;
}
.database-finder input{
    margin: 5px;
}
















#table-panel{
    display: none;
}





















.card{
    background-color: var(--beige-clr);

    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 5px gray;
}


.test{
    width: 100%;
    height: 800px;
    background-color: red;
}



.commands button{
    margin: 20px;
}




.show-tables{
    width: auto;
}



.data-tables{
    border-collapse: collapse;
    width: 100%;
}

.data-tables td, .data-tables th{
    border: 1px solid var(--gray-clr);
    padding: 10px;
} 

.data-tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--red-clr);
    color: white;
  }

.data-tables tr:nth-child(even){background-color: var(--light-red-clr);}
.data-tables tr:hover {background-color: var(--red-clr); color: white;}














.sql-console{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
}

#btn, #btn-top {
  align-items: center;
  background-color: var(--beige-clr);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#btn-top{
    display: none;
}

#btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#btn:hover, #btn-top:hover{
    background-color: var(--gray-clr);
}

#btn:hover:after, #btn-top:hover:after {
  transform: translate(0, 0);
}

#btn:active, #btn-top:active {
  background-color: var(--aa-clr);
  outline: 0;
}

#btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
    #btn {
    padding: 0 40px;
  }
}



















#btn-top:after{
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(-8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}



@media screen and (max-width: 1600px){
    #database-panel{
        height: auto;
        position: relative;
        margin: 0;
        margin-bottom: 20px;
    }

    #database-panel .dropdown{
        display: block;
    }

    .homepage {
        margin-left: 0;
    }




    #toggle{
        padding-top: 20px;
        display: none;
    }
}

*/