/* GLOBAL STYLES */

/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="text"],
input[type="password"],
select {
  display: block;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
}

input[type="submit"],
button {
  background-color: #0080ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #0066cc;
}

/* LAYOUT STYLES */

/* Center container vertically and horizontally */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

/* Set max width of container */
.container > div {
  max-width: 900px;
}



/* SIDEBAR STYLES */

.views {
  list-style: none;
  padding: 20px;
}

.views li {
  margin-bottom: 10px;
}

.views li:last-child {
  margin-bottom: 0;
}

.views a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.views a:hover,
.views .active a {
  background-color: #f2f2f2;
}

/* VIEW STYLES */

.view {
  display: none;
}

.view.active {
  display: block;
}

/* FORM STYLES */

form {
  max-width: 500px;
  margin: 0 auto;
}

select {
  width: 100%;
}

/* Make sidebar and content sections stack vertically on small screens */
/* 
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .views {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 10px 20px;
    border-bottom: none;
  }

  .views li {
  margin-right: 10px;
  margin-bottom: 0;
  }
  
  .views li:last-child {
  margin-right: 0;
  }
  
  .views a {
  padding: 10px;
  }
  }

   */