/* Set the background color and font for the page */
body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
}

/* Style the container for the login form */
.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	/* Center the container horizontally and vertically on larger screens */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Style the container for the last 3 buttons */
.grid-container{
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	grid-gap: 5px;
}
.grid-buttons{
	display: grid;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
	grid-gap: 5px;
}
/* Style of the buttons*/
.button{
   /* background-color: #b23005; */
	color: #4c8ef8;
	padding: 40px 40px auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.buttonLogin{
    background-color: #4CAF50;
	color: #fff;
	width: 100px;
    height: 50px;
}
.buttonForgot{
	width: auto;
    height: auto;
}
.buttonNew{
	width: auto;
    height: auto;
}

/* Style the buttons when hovering over it */
.buttonLogin:hover {
	background-color: #3e8e41;
}
.buttonForgot:hover, .buttonNew:hover{
	color: #0743a2;
}

/* Style the heading for the login page */
h1 {
	text-align: center;
}

/* Style the labels for the input fields */
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}

/* Style the input fields for the username and password */
input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* Style the submit button for the login form */
input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Media Query for Responsive Styles */
@media screen and (max-width: 600px) {
	/* Remove the absolute positioning and center 
    the container horizontally and vertically on smaller screens */
	.container {
		width: auto;
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
/* Media Query for Responsive Styles */
@media screen and (max-height: 600px)
and (orientation: landscape){
	/* Remove the absolute positioning and center 
    the container horizontally and vertically on smaller screens */
	.container {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		margin: auto;
		display:block;
		flex-direction: column;
		justify-content: flex-start;
	}
	.grid-container {
		position: relative;
		top: auto;
		left: auto;
		transform: none;
		margin: auto;
		display:block;
		flex-direction: row;
		justify-content: flex-start;
	}
}