/* code for the body*/
body.dark {
    background-color: #333;
    color: #e1e0e0;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #454545;
 }

/* style of the text */
h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}


label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.dark label {
  color: #f1f1f1;
}
 /* code the the sidebar (when used)
 Account Settings:
 */
 .sidebar {
  flex: 1;
  background-color: #fefefe; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 20px;
  font-weight: bold;
}

body.dark .sidebar {
  background-color: #c7c7c7; /* Change the background color when dark mode is active */
  color: #727171;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.2);
  margin-right: 20px;
  font-weight: bold;
}

.content {
  flex: 2;
  background-color: #fefefe; 
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 20px;
}
.dark .content{
  flex: 2;
  background-color: #5f5e5e;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 20px;
}

/* Login_page + forgot_Page*/
.container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	/* Center the container horizontally and vertically on larger screens */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dark .container{
  background-color: #615f5f;
	padding: 20px;
	border-radius: 5px;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.2);
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	/* Center the container horizontally and vertically on larger screens */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* footer style*/
footer{
  color: rgb(75, 75, 75);
  margin-top: 15%;
  text-align: center;
}
/* Dark mode style for footer */
body.dark footer {
  color: rgb(26, 21, 21);
}

/* contact button */

.buttonContact{
  color: #ffffff;
  background-color: #b29a5e;
  padding: 10px ; /* fixed the padding value */
	margin-top: -10px;
	width: 50%;
	height: auto;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	justify-content:center;
}
/* */
@media screen and ((max-width: 600px)
){
  /*
	 Remove the absolute positioning and center 
    the container horizontally and vertically on smaller screens 
    */

	.container {
		transform: none;
		width: 100%;
		max-width: none;
    top: auto;
    left: auto;
		margin: auto;
		display:block;
		flex-direction: column;
		justify-content: flex-start;
	}
  .dark .container{
    transform: none;
		width: 100%;
		max-width: none;
    top: auto;
    left: auto;
		margin: auto;
		display:block;
		flex-direction: column;
		justify-content: flex-start;
  }
	.grid-container {
		position: relative;
		top:auto;
		left: auto;
		transform: none;
		margin: auto;
		display:block;
		flex-direction: row;
		justify-content: flex-start;
	}
}

@media screen and ((min-width: 600px) and (max-height: 800px)
){
  /*
	 Remove the absolute positioning and center 
    the container horizontally and vertically on smaller screens 
    */
	.container {
    position: relative;
		transform: none;
		width: 80%;
		max-width: 600px;
    top: auto;
    left: auto;
		margin: auto;
		display:block;
		flex-direction: column;
		justify-content: flex-start;
	}
  .dark .container{
    position: relative;
		transform: none;
		width: 80%;
		max-width: 600px;
    top: auto;
    left: auto;
		margin: auto;
		display:block;
		flex-direction: column;
		justify-content: flex-start;
  }
	.grid-container {
		position: relative;
		top:auto;
		left: auto;
		transform: none;
		margin: auto;
		display:block;
		flex-direction: row;
		justify-content: flex-start;
	}
}
